[2015-09-29 14:34] tooviral opened #1 "Pushbullet and NMA notifications not being sent in unRAID"
As above.   No mention of anything in logs for either.

[2015-09-30 08:06] lonix commented on #1
So i signed up for Pushbullet, and added configs into plexPy, then after start\stopping a episode, i get a error message, like so:

PushBullet request failed: Bad Request

So i whent pack into settings and looked over them again, and hit save. THen notifications started appering on my phone. allthough abit slow. i am unable to test NMA as i do not own souch a device.

[2015-10-01 09:56] lonix commented on #1
All of my tests are a sucess. Need more information to help you mate. :)

[2015-10-02 00:53] tooviral commented on #1
see http://lime-technology.com/forum/index.php?topic=42435.msg412689#msg412689

All good

[2015-10-02 00:53] #1 closed

[2015-12-28 18:50] blackbarn opened #4 "Mechanism to chose PlexPy git branch"
Say i want to run develop instead of master. Could we add a ENV variable to allow this?

[2016-01-11 07:02] lonix commented on #4
Should be fairly easy to do, Ill add this to things to look into when i have some spare time.

[2016-01-15 09:24] JigSawFr commented on #4
:+1:  could be a great enhancement !

[2016-02-10 06:11] LennyM8472 opened #7 "HTTPS: SSL disabled"
Hi,

would be great if you can add the pyOpenSsl module to the container

I'm getting following error message when enabling https "The pyOpenSSL module is missing. Install this module to enable HTTPS. HTTPS will be disabled."

thanks
Lenny

[2016-02-18 15:01] cullenmcdermott opened #10 "Unable to set http_root"
Plexpy doesn't support a way of setting http_root via the ui so the only way to configure this is by editing the config.ini, however whenever the container is restarted this config file is reset. Being able to set the http_root would allow us to use this with a reverse proxy.

[2016-02-18 15:54] ironicbadger commented on #10
Just curious... What does `http_root` give you and why do you need it?

[2016-02-18 15:59] cullenmcdermott commented on #10
It lets me set the base url to something like http://myhostname:8181/plexpy which then lets me use it with my reverse proxy. See [this issue](https://github.com/drzoidberg33/plexpy/issues/49) for more details. And according to [this](https://github.com/drzoidberg33/plexpy/wiki/Frequently-Asked-Questions-%28FAQ%29#cat1-q2) I think we also need to be able to set http_proxy to 1

[2016-02-19 15:48] zaggash commented on #10
@cullenmcdermott Actually it works.

You have to stop the app before editing the config file.
This is related to python not the Container :)

Enjoy

[2016-02-19 15:48] zaggash commented on #10
@IronicBadger, You can close the Issue, I tested it and it works.

[2016-02-19 15:51] #10 closed

[2016-02-19 15:54] cullenmcdermott commented on #10
That works. Thanks!

[2016-02-19 16:03] zaggash commented on #7
Did someone test it ?

[2016-02-19 16:04] sparklyballs commented on #7
not a plex user personally.

[2016-02-19 16:15] zaggash commented on #4
#11

[2016-02-19 16:37] zaggash commented on #7
#12

[2016-02-22 14:41] johnny2678 opened #13 "disk I/O error?"
Hi,
running this in a boot2docker VM and getting the following error after creating a fresh container.  Any idea what's going on? thx!

My docker run cmd:
`docker run -d --restart=unless-stopped --name=plexpy -h plexpy -v /mnt/docker/PlexPy/config:/config -e PGID=167609 -e PUID=167609 -p 6790:8181 linuxserver/plexpy`

I also get the same thing without the PGID/PUID vars.

[code]

[2016-02-22 14:45] sparklyballs commented on #13
sqlite is picky about hard links
either that or permissions, if in doubt, it's always permissions..

[2016-02-22 15:08] johnny2678 commented on #13
Some more info:

Container starts with no errors, I can progress through the wizard, default config files (config.ini, plexpy.db,etc) are all created and then the above error starts looping.

From the container, `docker exec -it plexpy bash`, all folders/files under config have 777 permissions.

I'm stumped...

edit: clarification

[2016-02-22 15:10] sparklyballs commented on #13
then it's down to sqlite and it's finickity handling of hard links etc.

[2016-02-22 17:45] johnny2678 commented on #13
ok, I'm lost... Built a new image from git and got the following:

[code]

Will try to build manually from baseimage to see if I can isolate...

[2016-02-22 18:33] johnny2678 commented on #13
Building manually from baseline worked but now I'm right back to the disk I/O error... any suggestions?

[2016-02-22 18:44] sparklyballs commented on #13
yeah, it probably isn't going to work on a boot2docker VM because of sqlite.

[2016-02-22 18:44] #13 closed

[2016-02-24 14:37] #7 closed

[2016-04-26 12:15] zaggash commented on #4
#16

[2016-04-26 12:22] #4 closed

[2016-05-19 05:50] JeremyKennedy commented on #13
I'm sorry for commenting on an old issue, but @sparklyballs are you saying that I can't have PlexPy in Docker on Windows because of the way sqlite handles hard links?

[2016-05-19 07:16] j0nnymoe commented on #13
@JeremyKennedy As far as I know, @sparklyballs was talking about "boot2docker" the old way of running docker on windows. In theory, it should work on the new Docker for windows beta.

[2016-05-19 07:33] lonix commented on #13
@j0nnymoe that is still a boot2docker thing, it still uses a linux vm.

[2016-05-19 07:42] j0nnymoe commented on #13
@JeremyKennedy as @lonix has stated above, it's no different, ignore my comment.

[2016-06-27 17:21] firsttris opened #17 "Unable to change config"
Hello,

i'm not able to change to config of plexpy using settings - it always changing back to its originale values.

I have started the container the following way:

docker run \
    --name="plexpy" \
    --restart=always \
    --net=host \
    -v /etc/localtime:/etc/localtime:ro \
    -v /media/red/docker/plexpy:/config \
    -v /media/red/docker/plex/Library/Application\ Support/Plex\ Media\ Se

[2016-06-27 17:26] zaggash commented on #17
Like a lot of python project, stop the application/container, edit the config and then restart.

[2016-06-27 17:27] firsttris commented on #17
stop the application/container, edit the config and the restart.
=> does also reset the config to vanilla

for me it was working to restart plexpy from plexpy... after i completed the wizard plexpy is working!

:+1:

thx for your help

[2016-06-27 17:27] #17 closed

[2016-09-28 14:33] martinorob opened #21 "Unable to run script notification"
Host OS: Docker (Synology)

############

pausaitunes.sh:

"ssh user@host /opt/itunes.sh pause"

##############à

PlexPy log:

2016-09-28 14:30:55	INFO	PlexPy Notifiers :: Script notification sent.
2016-09-28 14:30:55	DEBUG	PlexPy Notifiers :: Script returned: Failed to add the host to the list of known hosts (/config/.ssh/known_hosts).
Permission denied (publickey,gssapi-keyex,gssapi-with-mic,key

[2016-09-29 03:46] sparklyballs commented on #21
i have just pulled a fresh copy of plexpy, and there is no pausaitunes.sh script anywhere in the container.
is this something you have added/created ?

[2016-09-29 12:14] martinorob commented on #21
Oh yes, is my own script that when i start a movie, pause iTunes (if is playing) doing an ssh (with key authentication) connection to my Mac Mini server..

[2016-10-17 13:29] #21 closed

[2016-10-23 15:48] spacecakes opened #22 "It never starts"
Hi,

I cant get it to run on Docker in DSM 6.0. The container never goes beyond this:

`remote: Compressing objects:   0% (1/330)   [K
`

Any ideas?

[2016-10-23 16:26] CHBMB commented on #22
Not based on the information you've given, perhaps if you used the template we'd be able to help a little more.

[2016-10-23 16:31] spacecakes commented on #22
[![linuxserver.io](https://raw.githubusercontent.com/linuxserver/docker-templates/master/linuxserver.io/img/linuxserver_medium.png)](https://linuxserver.io)

DSM 6.0 operating system, inside Docker on Docker port 8200 (real port 8181)

Container parameters:
PGID=101
PUID=0

Logs as pasted above. Never boots up.

## Thanks, team linuxserver.io

[2016-10-23 16:34] sparklyballs commented on #22
you need to tell us where this `remote: Compressing objects: 0% (1/330) �[K` is seen
we have no way of knowing if this is a synology issue or something to do with our image.

because generaly we do not see any messages similar to that.

[2016-10-23 16:45] spacecakes commented on #22
It's seen when I start the container inside Docker. Here's the full log.
[PlexPy.html.zip](https://github.com/linuxserver/docker-plexpy/files/546476/PlexPy.html.zip)

It just stays there.

[2016-10-23 16:52] CHBMB commented on #22
You know the log has just shown it's passed that point....

[2016-10-23 16:54] spacecakes commented on #22
I thought that too at first, but it's just in reverse order when exported.

[2016-10-23 16:56] #22 closed

[2016-10-23 16:56] spacecakes commented on #22
And just like that, after waiting 30 minutes it booted up. Sorry for wasting your time.

[2016-10-23 16:58] CHBMB commented on #22
As an aside, your PGID isn't actually 101 if you check the log....

[2016-10-23 17:02] spacecakes commented on #22
That may very well be the case. I have no idea what that even is. I just [followed a guide](http://drfrankenstein.co.uk/2016/04/11/setting-up-couchpotato-in-docker-on-a-synology-nas/) to two of your other containers and applied the same logic here.

[2016-10-25 06:28] casperse opened #23 "ython: can't open file '/opt/plexpy/PlexPy.py': [Errno 2]"
I am using Synology Docker station. and sofar it have been rock solid.
After the last update of the Plexpy container I keep getting this error:
python: can't open file '/opt/plexpy/PlexPy.py': [Errno 2] No such file or directory stderr 19:52:37
(Python should be part of the container I dont have Python locally installed on the server)

[linuxserverurl]: https://linuxserver.io
[![linuxserver.io](ht

[2016-10-27 16:04] casperse commented on #23
Ping...

[2016-10-27 16:07] aptalca commented on #23
It could be a permissions issue. Make sure that the config folder is owned/accessible by the user id 1041

Can you also post the full log?

[2016-10-27 16:08] sparklyballs commented on #23
could also be an incomplete pull on the first startup and an "impatient" restart.

[2016-10-27 19:13] casperse commented on #23
I have pulled the container 4 times, and the folder permissions to the config folder is correct.

[2016-10-27 20:27] sparklyballs commented on #23
well let's eliminate the first unusual thing i've noticed..

you have
`--volume=/etc/localtime:/etc/localtime:ro \
--volume=/volume1/docker/timezone:/etc/timezone:ro`

you should only have `--volume=/etc/localtime:/etc/localtime:ro \`

[2016-10-27 20:36] casperse commented on #23
I have removed all timezone settings from the install (I have installed it 8 times now) and always get the same error in th log: python: can't open file '/opt/plexpy/PlexPy.py': [Errno 2] No such file or directory stderr

[2016-10-27 20:38] sparklyballs commented on #23
i've installed it many times and never seen that error, whatever it is, it's either peculiar to you or synology.

[2016-10-27 20:39] casperse commented on #23
Actually I made a textfile in /volume1/docker/timezone containing just my TZ, so I think its okay?

[2016-10-27 20:42] sparklyballs commented on #23
take it out and use `-e TZ=<timezone>`

[2016-10-30 09:20] casperse commented on #23
FYI: Finally found the problem, and yes this is a Synology problem, but specific to this container (The others I have is working fine), it seems that even if I have a FW rule that allows the container access, it blocks "other things?" I have tested this by disabling my firewall and then it works perfectly. So I have created a Synology ticket for this problem. Thanks for the input, much appreciated

[2016-10-30 11:03] sparklyballs commented on #23
i'm going to close this as the issue lies elsewhere rather than this image.

[2016-10-30 11:03] #23 closed

[2016-10-31 21:00] mynameismevin opened #24 "SQLite3 database locked"
OS:

[code]

Docker:

[code]

Container:

[code]

Logging: http://paste.ubuntu.com/23408573/

For the mounted files, they are mounted Windows CIFS shares to the Linux host.

[2016-10-31 21:52] sparklyballs commented on #24
normally with mounted shares i'd say permissions, but even then i'm fairly certain that sqlite won't work in that setup

[2016-10-31 21:58] rjorgenson commented on #24
I'm using a setup very similar to this with NFS and have not had any issues, perhaps there's something in the CIFS filesystem that's causing a problem for sqlite? Is NFS an option for you?

[2016-11-01 00:19] siennathesane commented on #24
I was reading a bunch of forums and web posts about SQLite concurrency, it turns out SQLite is not compiled with threadsafe compatibility enabled by default. That, mixed with the authors' own recommendations about not using a shared filesystem (CIFS/NFS/SMB) and PlexPy's liberal usage of threads gives me cause to say the issue is that a shared filesystem with this software isn't the best idea. Whi

[2016-11-01 14:37] sparklyballs commented on #24
i'm going to close this one with an eye to maybe including info in readme if it reported by anyone else.

[2016-11-01 14:37] #24 closed

[2017-02-11 11:43] Fish2 opened #27 "The pyOpenSSL module is missing. Install this module to enable HTTPS. HTTPS will be disabled."
[linuxserverurl]: https://linuxserver.io
[![linuxserver.io](https://raw.githubusercontent.com/linuxserver/docker-templates/master/linuxserver.io/img/linuxserver_medium.png)][linuxserverurl]

Ubuntu server 16.04.2 LTS

The pyOpenSSL module is missing. Install this module to enable HTTPS. HTTPS will be disabled.

after the upgrade to alpine 3.5 i am getting this error
The pyOpenSSL module is missing

[2017-02-11 11:58] Fish2 commented on #27
Update i had a look in to a temp fix you can fix this by running this command in the container

`apk add --no-cache openssl`

preposed fix add this pull request to baseimage
like this pull request [#8](https://github.com/linuxserver/docker-baseimage-alpine-python/pull/8)

[2017-02-13 20:24] #27 closed

[2017-02-20 16:34] bfeist commented on #13
Any word on this? Just ran into the same thing.

[2017-02-21 08:54] j0nnymoe commented on #13
@bfeist could you provide some more details such as host os information/docker version etc please?

Thanks

[2017-02-21 14:38] bfeist commented on #13
@j0nnymoe The Docker version is 1.13.1. Host is Windows 10 sp1 using Kitematic with boot2docker headless virtualbox. Any attempt to map the /config folder locally causes crashing. When I allow that to be housed within the container it works.

[2017-02-21 16:56] j0nnymoe commented on #13
@bfeist sounds like something that boot2docker does to bridge the VM and Windows which is upsetting plexpy itselt. Unfortunately there isn't much I can suggest other than trying it on a linux house with the same setup. We don't test any of our containers on windows platforms so if any of them work within a windows environment, its a bonus. Sorry I couldn't be of much more help.

[2017-02-21 16:58] bfeist commented on #13
@j0nnymoe Thanks for looking into it. I know Docker for Windows isn't ideal. Thanks for your hard work to put this out there.

[2017-02-21 22:55] terretta opened #29 "QNAP issues"
Using QNAP, latest Intel cpu, latest Container Engine update which is Docker version 1.11.2, build 3a84010.

Following #26 this container seems borked on QNAP the same way as other updated LinuxServer.io containers that use git clone are borked on QNAP.

There are issues filed by other users on other LS.io containers, such as the open issue on CP.  I can repro those, this seems to be the same erro

[2017-02-22 14:39] R0GGER commented on #29
same issue here..! exact same error.

[2017-02-22 23:48] terretta commented on #29
Checking out build, see what works, what doesn't, on QNAP.

Looks like libssh2 problem introduced by upstream alpine 3.5, QNAP container engine doesn't like it.

Debugging:

Latest linuxserver/plexpy depends on lsiobase/alpine.python, which worked up through release 29 and not in 30.  Key change was bump from alpine to alpine:3.5.  My **alpine:3.5** as built 5 days ago is broken.  Stepping through

[2017-02-25 00:50] aptalca commented on #29
Actually, instead of downgrading packages, you can try to install 3.5 (or edge) versions of packages on 3.4 alpine. Instructions on installing package from a different repository here: http://wiki.alpinelinux.org/wiki/Alpine_Linux_package_management#Add_a_Package

[2017-02-25 18:00] terretta commented on #29
It's working in 3.4, broken in 3.5, I want all of 3.5 except libssh2 from 3.4 (3.5 = 1.7.0-r2, 3.4 = 1.7.0-r0).  So thanks for the link, looks like could try repo pinning:

`apk add stableapp newapp@edge bleedingapp@testing`

[2017-02-28 11:09] j0nnymoe commented on #29
@terretta quick question, what kernel version does the QNAP software run?

[2017-02-28 13:07] R0GGER commented on #29
**Turbo NAS Log Compilation**
Date: 20170228-14:05:37
Serial Number: ***
NAS IP: ***
MAC: ***
Model: TVS-871
Firmware: 4.2.3_20170213
Execute Test: N/A
Test Status: N/A
Test Description: N/A
Error Log Count: 0
Segfault: 0
MD9 FS Error: 0
MD0 Status: active
Kernel: Linux version 3.12.6
CPU: Intel(R) Core(TM) i7-4790S CPU @ 3.20GHz

[2017-02-28 14:58] j0nnymoe commented on #29
@R0GGER thanks

[2017-03-06 23:02] terretta commented on #29
Here's a workaround for the 3.4 vs 3.5 bug w/ SSL, but then stuck on s6 Python lib permissions.

[code]

From inside the running container, do:

[code]

Exit the running container, get the image ID, make a new lsiobase/alpine.python:

[code]

Then rebuild this repo using that image:

[code]

Then create and use your container normally.  Except, nope, doesn't work.

There's a problem with Python 2.

[2017-03-12 14:51] desimaniac commented on #13
This issue exists for older macs that have to use Kitematic/Docker Toolbox which also relies on boot2docker.

[2017-03-13 11:55] seed1234 opened #31 "installed Plexpy on Freenas 10 via docker"
Cannot connect to PlexPy Gui
[linuxserverurl]: https://linuxserver.io
[![linuxserver.io](https://raw.githubusercontent.com/linuxserver/docker-templates/master/linuxserver.io/img/linuxserver_medium.png)][linuxserverurl]

FreeNAS 10

docker@box:~$ docker logs -f plexpy
[s6-init] making user provided files available at /var/run/s6/etc...exited 0.
[s6-init] ensuring user provided files have correct pe

[2017-03-24 09:37] nknotts commented on #29
curl on alphine 3.5 makes a call to `getrandom()` which does not exist in older versions of curl. On QNAP Container Station, calls to `getrandom()` fail with `-1 EPERM (Operation not permitted)`.

See

https://bugs.python.org/issue27955

https://forum.qnap.com/viewtopic.php?t=124650

On alpine 3.5

[code]

On alpine 3.4

[code]

`docker-plexpy` is not the appropriate level for this bug but I am po

[2017-04-04 20:41] sgtsquiggs commented on #31
I have the same problem on my QNAP (x86-64). Seems the problem is that https connections fail:

[code]
[code]

[2017-04-05 07:47] j0nnymoe commented on #31
@seed1234 Could you provide some more information about the value's you used when setting up plex on freenas please? (screenshots will do)

@sgtsquiggs QNAP issues are known and something we will get working on once we have a QNAP device up and running.

[2017-04-06 19:18] stonehz commented on #29
Problem seems to be related with https://github.com/docker-library/official-images/issues/2773  ?

[2017-04-06 19:26] j0nnymoe commented on #29
I have got a QNAP device setup now so I am able to see whats causing the issue and hopefully come up with a fix/workaround.

[2017-04-06 19:37] j0nnymoe commented on #29
Ok, so I have setup plexpy on our QNAP no problem. I created the container via the QNAP Container station. Latest image used aswell.

Plexpy logs:
[code]
Model name	TS-251A
Firmware version	4.2.4 Build 20170313
[code]
If anyone wants me to try anything, please let me know.

[2017-04-06 19:54] stonehz commented on #29
[code]

try this 😄

I think i made curl and git  work by using the version of libssh2 , curl, libcurl from 3.4

[2017-04-06 20:07] j0nnymoe commented on #29
@stonehz my container seems to work fine though, if you look at my logs, it pulled from git fine.

[2017-04-06 20:25] stonehz commented on #29
@j0nnymoe  how did you run the container?
this is how i started mine:
[code]

[2017-04-06 21:05] j0nnymoe commented on #29
@stonehz I setup my container via the container station GUI, I'll take some screenies tomorrow if you like?

[2017-04-07 04:32] ning42 commented on #29
on a TS-653 pro with firmware 4.2.4 made a

[code]
the result is still the same
logs:
[code]

[2017-04-07 06:06] j0nnymoe commented on #29
@ning42 you've forgot to use PUID/PGID.

[2017-04-07 10:54] ning42 commented on #29
@j0nnymoe: was not needed before - but will test when I get home later

[2017-04-07 13:06] j0nnymoe commented on #31
@seed1234 re-reading your error log's. I'm guessing that this is due to not setting a PGID/PUID as the docker containers default to 911 when nothing is specified.

@sgtsquiggs Please see my post here: https://github.com/linuxserver/docker-plexpy/issues/29#issuecomment-292290379 I got plexpy running on our QNAP TS-251A with no problems last night.

[2017-04-07 14:09] ning42 commented on #29
@j0nnymoe: same error

But it seems you run it as a other user than admin

[code]

[2017-04-07 14:44] j0nnymoe commented on #29
@ning42 I created a specific user for my containers to run as. its not recommend running docker containers as root or in QNAP case admin = root. My user is part of the "everyone" group.

[2017-04-07 14:53] j0nnymoe commented on #29
ping @terretta @R0GGER

are you still having issues with this?

[2017-04-07 16:18] ning42 commented on #29
@j0nnymoe
Same error even with user that is not admin :(

[code]

[2017-04-07 16:29] ning42 commented on #29
@j0nnymoe can you show a screenshot of how you configured the container (you wrote you set i up via the gui)?

[2017-04-07 16:33] aptalca commented on #29
@ning42  Can you exec into the container `docker exec -it plexpy bash`, run this: `git clone --branch master https://github.com/JonnyWong16/plexpy.git /opt/plexpy` and let us know what error you get?

[2017-04-07 16:36] ning42 commented on #29
@aptalca no error
[code]

[2017-04-07 16:52] j0nnymoe commented on #29
@ning42 see the following screenshots:
![chrome_2017-04-07_17-43-39](https://cloud.githubusercontent.com/assets/10374553/24810574/a83a406e-1bba-11e7-8808-9daa25d74b07.png)
the entrypoint was added by container station after I created the container.
![chrome_2017-04-07_17-43-58](https://cloud.githubusercontent.com/assets/10374553/24810572/a834846c-1bba-11e7-8555-8f59e50ac134.png)
I only added what

[2017-04-07 19:12] ning42 commented on #29
@j0nnymoe looks the same as mine - but still i have the error

[2017-04-07 19:16] j0nnymoe commented on #29
@ning42 Something in your setup must be stopping this. @aptalca mentioned to me earlier that it might be MTU settings? can you check your network config on the QNAP device to see what it's set to? Mine is set to 1500.

[2017-04-07 19:22] ning42 commented on #29
@j0nnymoe it is at 1500

<img width="482" alt="screen shot 2017-04-07 at 21 20 35" src="https://cloud.githubusercontent.com/assets/13636254/24816249/3bda8b2c-1bd8-11e7-93c9-f7078283cbc4.png">

[2017-04-07 19:23] j0nnymoe commented on #29
@ning42 ok, honestly I'm fresh out of ideas now 😕

[2017-04-07 19:25] ning42 commented on #29
@j0nnymoe it worked perfectly until the 3.5 update, no way of getting that image again to verify if that still works?

[2017-04-07 19:28] j0nnymoe commented on #29
@ning42 not prebuilt. could you try creating a user like I did that isn't an admin then recreate the container with that users ID's + a fresh /config folder? Just as a test.

[2017-04-07 19:41] ning42 commented on #29
@j0nnymoe here is all the steps i run
with new dir - the dir is empty after the container is started - not sure when the files are suppose to be created

[code]

[2017-04-07 19:51] sparklyballs commented on #29
considering that @j0nnymoe is running the image with 3.5 alpine on QNAP, i'd be inclined to say the two things are coincidental.

[2017-04-07 20:01] ning42 commented on #29
@sparklyballs could be - I can reproduce it on two different QNAP's (models, but same FW version) with exactly the same error.
I have tried if i can upload/export the old image - that still works.
But can't figure out how - if that can help somehow?

[2017-04-07 20:05] j0nnymoe commented on #29
@ning42 I noticed in your docker run command you are stating host & port so either use host or bridge/nat. Also, I know this will probably make zero difference but could you try doing the container via the GUI instead of creating via cli? Thanks

[2017-04-07 20:11] ning42 commented on #29
@j0nnymoe

<img width="876" alt="screen shot 2017-04-07 at 22 05 36" src="https://cloud.githubusercontent.com/assets/13636254/24817907/b3413f34-1bde-11e7-8f7c-a5619538ab4b.png">
<img width="674" alt="screen shot 2017-04-07 at 22 06 20" src="https://cloud.githubusercontent.com/assets/13636254/24817908/b358c2f8-1bde-11e7-835a-37710cc62d77.png">
<img width="691" alt="screen shot 2017-04-07 at 22 06 3

[2017-04-07 21:02] sgtsquiggs commented on #29
I am having the same issues @ning42 outlines in https://github.com/linuxserver/docker-plexpy/issues/29#issuecomment-292433688.

I am running a QNAP TS-859 Pro firmware v 4.2.4
[code]

[code]

[2017-04-08 05:42] ning42 commented on #29
@j0nnymoe @stonehz @aptalca

So I tried the different thing on trying to change to 3.4, to see if that would change things, or help on where to debug.

So I did this

[code]
Note I'm back to my normal mode (no PG/UID) settings, but with a new config dir
This gives the "normal" error

Then this
[code]
Then a restart of the container

Now it starts

[code]

But as you can se there is a git error - b

[2017-04-08 06:26] aptalca commented on #29
@ning42 instead of the 3.4, can you try the edge versions of those 4 packages?

[2017-04-08 17:19] sgtsquiggs commented on #29
@aptalca I tried this:

[code]

nginx complains about the duplicate default server. I had to change `listen 80 default_server;` to `listen 80;`.

It then acts just as 3.5 vanilla does:

[code]

[code]

[code]

seems alpine 3.5 + ssl + qnap = broken

[2017-04-10 04:40] ning42 commented on #29
@aptalca can confirm the same as @sgtsquiggs

But I tried these steps

Create the container
Downgraded to 3.4 with the
[code]
Then restarted the container
After this plexpy is running

Then I tried to update to edge with
[code]
restarted the container - still works

So I can't upgrade from 3.5 to edge, but if I "downgrade" to 3.4 first, and then go to edge it works

[2017-04-20 03:25] wcomartin opened #32 "Newest Plexpy v2 branch requires PyCryptodome to be installed"
[linuxserverurl]: https://linuxserver.io
[![linuxserver.io](https://raw.githubusercontent.com/linuxserver/docker-templates/master/linuxserver.io/img/linuxserver_medium.png)][linuxserverurl]

Newest Plexpy v2 branch requires PyCryptodome to be installed

This is used for notification encryption for the android app @JonnyWong16 and I are developing

Installation Instructions:
http://pycryptodome.rea

[2017-04-20 03:26] JonnyWong16 commented on #32
`pycryptodomex` preferred.

[2017-04-20 06:19] CHBMB commented on #32
I'm sure @sparklyballs will be along later to tell me what I've done wrong, but here's a start.

[2017-04-20 09:25] #32 closed

[2017-04-21 07:30] j0nnymoe commented on #31
As no reply for two weeks on this issue, I am assuming this has now been resolved.
Please reopen if not the case.

[2017-04-21 07:30] #31 closed

[2017-05-06 19:19] ning42 commented on #29
any ideas on how to proceed?

[2017-05-06 19:51] sgtsquiggs commented on #29
I ended up making my own docker images for everything that was affected `¯\_(ツ)_/¯`

[2017-05-06 22:06] j0nnymoe commented on #29
@ning42 the only thing I can think it boils down to is kernel versions of QTS for different QNAP models as I've had no issues getting these containers running on a QNAP TS-251a. Have you tried the latest version of QTS?

[2017-05-07 04:52] ning42 commented on #29
I am at
Firmware version	4.2.5 Build 20170413
on a Model name	TS-653 pro

And that still results in the same error with latest build

[2017-05-07 09:48] j0nnymoe commented on #29
@ning42 seems there is QTS 4.3.3 for your QNAP model

[2017-05-07 15:38] ning42 commented on #29
@j0nnymoe I tried the packed sgtsquiggs made, with alpine:3.4 and that works perfect on current firmware 4.2.5. So I suspect more the alpine:3.5

The update to 4.3.3 is a major upgrade from QNAP among others going to 64bit on many things, so not just a simple update. I wish to wait a bit, just to be sure that no unplanned "bugs" shows up.

In a week or two i'll update to 4.3.3 and I'll test this o

[2017-05-07 19:59] willenglishiv opened #34 "plexpy logs access"
Just as it says above, I tried with docker-compose and the sample log that is in the ironicbadger/ansible library

  plexpy:
    image: linuxserver/plexpy
    container_name: plexpy
    depends_on:
      - plex
    volumes:
      - /opt/appdata/plexpy:/config
      - /opt/appdata/plex/Library/Application\ Support/Plex\ Media\ Server/Logs:/logs:ro
    ports:
      - 27029:8181
    links:
      - pl

[2017-05-25 07:17] sparklyballs commented on #34
sorry for the late reply, but this looks like a fault with docker-compose rather than the image itself.

i don't know how you escape spaces in a docker-compose file.

[2017-07-26 07:57] ning42 commented on #29
@j0nnymoe So i now tried to update to 4.3.3 firmware on the 2 qnap's
I removed the old container, got the latest, and deployed a new plexpy contain
Success - all works again

[code]

[2017-07-26 11:48] j0nnymoe commented on #29
@ning42 fantastic news. I'll close this issue now.

[2017-07-26 11:48] #29 closed

[2017-07-31 08:57] elmero1 opened #37 "Plexpy doesn't work since last week"
Since approximately one week my plexpy doesn't work. The container is started but i can't reach plexpy with the webbrowser.
Here is a docker logs output:

Traceback (most recent call last):
  File "/app/plexpy/PlexPy.py", line 260, in <module>
    main()
  File "/app/plexpy/PlexPy.py", line 186, in main
    plexpy.initialize(config_file)
  File "/app/plexpy/plexpy/__init__.py", line 129, in initia

[2017-07-31 10:26] grantbevis commented on #37
Same issue here, have recreated the container and pulled the latest image and still no luck

[code]

[2017-08-01 22:31] sparklyballs commented on #37
the fix appears to be editing the config.ini file in your /config mount and checking/changing the entries for

`log_dir = /config/logs`
`backup_dir = /config/backups`
`cache_dir = /config/cache`

[2017-08-02 05:43] elmero1 commented on #37
Thank you sparklyballs. Now it works!

[2017-08-02 08:47] sparklyballs commented on #37
cool

gonna close this

[2017-08-02 08:47] #37 closed

[2017-08-14 00:10] mweber03 opened #39 "Suggestion on how to call commands outside the container"
I would like to use the scripts agent to call a script to close specific resource intensive processes on my Synology NAS when things on Plex begin to be watched. This is easy to do from a script using the command "/usr/syno/bin/synopkg stop <process name>". Do you have a suggestion of how to be able to call this executable without getting a " No such file or directory" error?

[2017-11-14 20:22] jrdnlc opened #41 "Plexpy Script Dependency: plexapi"
Hey guys, can you guys integrate plexapi dependency into the docker?

I’m using a few scripts on Plexpy that depend on it and currently install it manually by runing pip install plexapi. Would be great if you guys can add it so it can stop forgeting to re-add it every friday lol.

[2017-11-14 21:08] aptalca commented on #41
We generally do not like to install custom scripts (or their dependencies).

You can create a bash script file on your host that contains the `pip install plexapi` and map that file in your docker run command as `-v /path/to/script:/etc/cont-init.d/40-plexapi`

It will run that script/command every time the container is restarted before the plexpy service is launched

[2017-11-14 21:08] #41 closed

[2017-11-14 21:15] jrdnlc commented on #41
Any reason why other dependancies are included already in the docker then? Still don’t inderstand why it cant cant be included it when other custom script dependencies are already there.

I mean custom scripts is part of a Plexpy feature so why prevent users from using that by not including dependencies that are needed?

[2017-11-14 21:17] aptalca commented on #39
From inside the docker container, you can telnet or ssh into the host machine/computer to run the commands

[2017-11-14 21:24] aptalca commented on #41
?? I don't believe there are any. All that's included is what is required by plexpy's internal functions. It's really just python and pycryptodomex, that's all.

[2017-11-14 21:33] jrdnlc commented on #41
There are a few that customs scripts use. But if it’s part of a plexpy to be able to use custom scripts why not add what the users need to be able to fully use that feature?

I’m not asking if you guys use custom scripts. I’m talking about myself and other users in general. The users perspective. You guys will only add it if your team needs it? Seems like how it is which just makes you guys look b

[2017-11-14 21:47] aptalca commented on #41
You're asking us to add an unofficial 3rd party api framework for plex. It would be an added feature, and it is not a built-in feature of plexpy. That is beyond the scope of this docker image. We don't want to have to support that external framework, nor do we want to jeopardize that framework potentially breaking our image during a weekly refresh. We have a lot of docker images to support, a hand

[2017-11-17 07:37] vistalba opened #42 "DNS issues running plexpy in Kubernetes"
I run the plexpy docker inside kubernetes cluster in my LAN network. I can't resolv external DNS names. I figured out the following with tcpdump:

If I do nslookup in the container for: google.com it makes a DNS request to google.com.internal.domain.com -> doesn't exist.

If I remove the "internal.domain.com" from /etc/resolve.conf as a seach domain the problem is gone.

I don't know, why it happe

[2017-11-22 00:14] CHBMB commented on #41
If you feel that strongly, fork it and build your own, I can assure you we don't add stuff just because we want it, I personally modify containers on my machine and don't request anything be pushed back upstream and I know that the rest of ls.io also do the same.

If you can find an example of the practice you're alluding to then please point it out.  We've had this conversation with a number of p

[2017-12-09 01:11] shiggins8 commented on #34
@sparklyballs It turns out that you don't need to escape spaces in a docker-compose file. Just by doing:

`- $BASE/Library/Application Support/Plex Media Server/Logs:/logs:ro`

You're good to go!

[2017-12-12 17:31] Hellowlol commented on #41
Thanks for a way to work around this.

[2017-12-12 17:48] sparklyballs commented on #41
LTNS @Hellowlol

[2017-12-12 23:22] Hellowlol commented on #41
Yeah, same to you. Im in the progress of converting the stuff running on my desktop to your dockers and I didnt understand why my nzbtomedia script didnt work. I guess this is the workaround that i have to use.

[2017-12-13 10:28] sparklyballs commented on #41
@Hellowlol i run a nzbtomedia script between sab and medusa to supposedly handle failed downloads

one silly little thing that's easy to overlook is making the script executable by sab (or insert other downloader here)

[2017-12-13 11:11] Hellowlol commented on #41
Funny you should say that. I forgot that and forgot to disable nzbmedia transcoding. It work as a charm after that.

[2017-12-17 03:45] jmlw commented on #37
This took a long time to find, can this also be included as additional info or caveats in documentation?

[2017-12-29 00:56] bensternthal opened #44 "Error response from daemon: error while creating mount source path"
Pretty stumped on this one.. should be easy-peasey. After running the docker create command and the docker start I get the following error:

[code]
Spidey sense is that the docker user cannot access the plex logs location. Which seems odd. I have tried a few things to debug including messing with the user and group ids, but nothing I try works. I've confirmed that as my user I can read and edit fi

[2017-12-29 08:21] j0nnymoe commented on #44
Wrap the second volume mount in " 's and this will get past the error.

[2017-12-29 18:13] bensternthal commented on #44
Unfortunately that did not work. I tried both:

[code]
and

[code]

[2017-12-29 18:31] tobbenb commented on #44
Are you sure the path is correct? The error say that it can't create the source path. That probably means that the path doesn't exist and it tries to create it.

[2017-12-29 18:55] bensternthal commented on #44
Yep path is correct, can copy paste into terminal and cd into that dir.

Something is funky with docker and perms. It seems to not be able to access anything outside my home directory.

Grrr!

[2017-12-29 20:06] bensternthal commented on #44
OK i think I sorted this.

The issue was using docker-snap https://github.com/docker/docker-snap/blob/master/README.md

Yeah I should have known better. Installing docker-ce via the official docs seems to have worked.

Thanks again for helping.

[2017-12-29 20:06] #44 closed

[2018-01-10 21:56] Skaronator opened #45 "Add PlexPy v2 Beta"
Could you add a beta tag where it download the `beta` branch of the PlexPy Repo?

https://github.com/linuxserver/docker-plexpy/blob/8ecb936f19ad393aa7c67cab3cbc9d0909232349/Dockerfile#L20

[2018-01-10 23:35] thelamer commented on #42
This has nothing to do specifically with this container. Docker containers inherit their DNS from the host on bridged networks. In Kubernetes you can customize DNS settings for your services and pods:

https://kubernetes.io/docs/concepts/services-networking/dns-pod-service/

[2018-01-11 08:24] #39 closed

[2018-01-11 08:24] #42 closed

[2018-01-11 08:24] #34 closed

[2018-01-25 16:42] #45 closed

[2018-01-25 18:08] Skaronator commented on #45
Closed but no code change?

[2018-02-01 22:18] Wreave opened #47 "Add Python-PlexAPI to container for use in community scripts"
Many PlexPy/Tautulli community scripts require [Python-PlexAPI](https://github.com/pkkid/python-plexapi). It would be helpful to have this included in the container to avoid reinstalling it after a container update, etc.

[2018-02-01 22:51] aptalca commented on #47
See here: #41

[2018-02-01 22:51] #47 closed

[2018-04-20 21:01] ShakataGaNai opened #52 "How to use this with linuxserver/plex"
So the instructions on tautulli specify mounting the plex log directory, however https://github.com/linuxserver/docker-plex doesn't appear to have that as an option. So what configuration is required for these two linuxserver images to operate together?

[2018-04-20 21:15] aptalca commented on #52
It's in the readme here: https://github.com/linuxserver/docker-tautulli/blob/master/README.md
You need to map the plex log location on your server in this container's settings
`-v <path to plex logs>:/logs:ro` so if plex is at /opt/plex on your machine, then set it to `-v "/opt/plex/Library/Application Support/Plex Media Server/Logs":/logs:ro`
That way you can reach that location at `/logs` inside

[2018-04-20 21:15] #52 closed

[2018-04-20 21:26] ShakataGaNai commented on #52
So you're saying this doesn't work with the liunxserver/plex image.

[2018-04-20 21:35] j0nnymoe commented on #52
It does work with our container. Point `/logs` to the logs folder within your Plex appdata on your host.

[2018-04-20 21:37] aptalca commented on #52
Plex logs are under the /config folder you map for the plex container

[2018-05-06 14:21] joshuaavalon opened #54 "Current model does not work well with Tautulli update"
Currently Tautulli update through git. However, the app Tautulli is located in the image instead of a volume. This mean we won't able to update (or need to update after restart) unless LSIO push a new image.

[2018-05-06 15:16] sparklyballs commented on #54
we build a new image every friday

and we don't recommend or support updating the app in a docker

[2018-05-06 15:16] #54 closed

[2018-05-19 02:05] alexholliz opened #55 "Mounting cifs automount volume for /config fails on startup"
[linuxserverurl]: https://linuxserver.io
[![linuxserver.io](https://raw.githubusercontent.com/linuxserver/docker-templates/master/linuxserver.io/img/linuxserver_medium.png)][linuxserverurl]

Host OS: Ubuntu 16.04

Docker-Compose settings:
[code]
Log Output
[code]

Automount setup:
* My docker host is setup to use autofs to mount a cifs share on my network to /Volumes/Shares/
* The Docker compose f

[2018-05-19 02:10] alexholliz commented on #55
Confirmed that the `MainThread : Can't connect to the database: database is locked` error occurs even when the config directory has been wiped out, and the PGID and PUID are set to root (0)

[2018-05-19 04:30] aptalca commented on #55
Sqlite does not play well with mounted shares.

We recommend putting the config folders on a local path. Media folders can be on mounted shares.

[2018-05-19 04:30] #55 closed

[2018-05-19 07:05] alexholliz commented on #55
Well, that's a bummer, is there any way to get the config persistent among reboots? Should I just use a local disk and back it up?

[2018-05-19 07:06] j0nnymoe commented on #55
Correct :)

[2018-05-19 07:08] alexholliz commented on #55
Oof, more research into sqlite and docker proves this out. I'll look into using an external DB for tautalli. I'll get those issues into the correct repo. Thanks for your help folks. :)

[2018-08-09 07:12] metaMMA opened #56 "Scripts triggered by Tautulli require JSON parsing - Request to add 'jq' to container"
I would like to suggest adding [jq - a lightweight and flexible command-line JSON processor](https://stedolan.github.io/jq/) to the Tautulli docker container. There are quite a few scripts that can be triggered by Tautulli that require parsing through JSON. This can be done in the container now using other tools. But the currently available tools aren't efficient and not made for the job. Kind of

[2018-09-22 05:43] jlhunter2008 commented on #55
I got the database is locked error on my Synology. What steps do I need to take to remedy this? Detailed instructions would be appreciated.

Thanks.

[2018-10-10 16:56] srslynow commented on #44
@bensternthal thank you so much for coming back with the answer! I was going crazy, turned out the system I was working on had docker snap installed as well.

[2018-10-28 13:48] louisefindlay23 opened #61 "Streaming Brain Estimate 0 kbps"
Host OS: DietPi (Debian 64 bit)

Docker Compose Config

![image](https://user-images.githubusercontent.com/26024131/47616644-a5c7b880-dab7-11e8-9b96-340bff2d13e3.png)

Docker logs

`[cont-init.d] 10-adduser: exited 0.
[cont-init.d] 30-config: executing...
[cont-init.d] 30-config: exited 0.
[cont-init.d] done.
[services.d] starting services
[services.d] done.
2018-10-28 13:47:51 - INFO :: MainThrea

[2018-10-28 16:48] aptalca commented on #61
Seems like a tautulli issue, not docker. You should contact them.

[2018-10-28 16:48] #61 closed

[2018-11-10 00:24] jimtaylor123 commented on #44
thanks

[2019-02-05 23:10] Rawh opened #67 "Tautulli containers unknown version installed"
Hi there,

I'm running the latest Tautulli container but each and every time I go to the webgui it tells me it has no idea what version it's running.

![image](https://user-images.githubusercontent.com/10486655/52309444-6eaf5000-29a0-11e9-907d-a192b785d164.png)

Some info about my rig:
Unraid Pro license
Version 6.6.6 (stable)

Running docker version: 18.06.1-ce
Container version:

Image version:

[2019-02-05 23:21] aptalca commented on #67
Thanks, we are aware and a fix is on the way

[2019-02-28 20:42] homerr commented on #56
jq is now in the container, this was completed in pr #69

[2019-02-28 20:42] #56 closed

[2019-04-15 15:39] JGNi commented on #44
How do you uninstall it? Can't see the option in dpkg or apt-get remove

[2019-04-15 15:50] bensternthal commented on #44
@JGNi Can you create a new issue? It sounds like you are experiencing something different from what is described here.

[2019-04-15 15:52] JGNi commented on #44
I found the solution now. I didn't know about snap. I do now.

[2019-05-23 20:57] aptalca commented on #67
@Rawh I think we fixed this a long time ago, but forgot to close this issue. Can you confirm that it is fixed in the latest version and if so, close the ticket?

[2019-05-23 21:03] Rawh commented on #67
Yep yep. It's been good for a long time, you can close it 👍

[2019-05-23 21:04] aptalca commented on #67
Thanks for the confirmation

[2019-05-23 21:04] #67 closed

[2019-06-15 01:59] whalehub opened #76 "Tautulli instances sporadically have their settings reset, exposing the admin interface to the public"
**Describe the Bug**
My Tautulli instances will sporadically - and for seemingly no reason - have their settings reset after being restarted, such that the admin interface becomes publicly available for everyone who previously only had guest access until such time that I set a password in the settings again.

**Steps to Reproduce**
I have no way of reproducing the issue. I run five dockerized Taut

[2019-06-15 02:28] aptalca commented on #76
1) why do you have 5 instances on the same server?
2) don't restart or update tautulli inside the container. Restart or update the container instead
3) make sure that your mount points are correct and remain connected. If they are remote mounts, a broken connection will result in an empty config folder and lost settings

[2019-06-15 02:32] ghost commented on #76
1. I have five dockerized Plex instances running on my server and since Tautulli doesn't have multi-server support, I need to run five Tautulli instances to monitor all of my Plex instances.
2. I'm already doing that.
3. The mount points point to a mounted ZFS pool that's made up of internal harddrives.

[2019-06-15 07:39] sparklyballs commented on #76
if it happens across restarts there is a possibility that the docker service is starting before zfs service and leaving your mount points empty.

https://serverfault.com/questions/904421/docker-service-starts-before-zfs

[2019-06-22 17:57] whalehub commented on #76
@sparklyballs It happens across **container** restarts, not system restarts. It happened again today, this time on only one of the five instances. I didn't touch the containers or the folders they store their config in at all.

[2019-06-22 17:57] ghost commented on #76
@sparklyballs It happens across *container* restarts, not system restarts. It happened again today, this time on only one of the five instances. I didn't touch the containers or the folders they store their config in at all.

[2019-07-02 18:55] Arcanemagus opened #79 "Add healthcheck support"
In Tautulli v2.1.31 a new endpoint of `/status` was added that responds with a status check message allowing this to be used for health check purposes.

You can see how we are currently doing this in our official image [here](https://github.com/Tautulli/Tautulli-Docker/blob/a498f3e8a098b3b3234f17b57f533d618b8adb34/Dockerfile#L80).

Note that this will work whether the user has HTTPS enabled or not

[2019-07-02 19:00] aptalca commented on #79
Thanks for the heads up, we'll look into it.

[2019-07-09 02:28] ghost commented on #76
I moved the Tautulli folders over to an SSD (which is formatted with XFS) and the issue hasn't occurred again in over two weeks. I think the issue is solved for me, for now.

[2019-07-09 02:28] #76 closed

[2019-07-17 19:34] Aquinas74 opened #81 "https://github.com/Aquinas74/docker-tautulli/pull/1#issue-298637994"
[linuxserverurl]: https://linuxserver.io
[![linuxserver.io](https://raw.githubusercontent.com/linuxserver/docker-templates/master/linuxserver.io/img/linuxserver_medium.png)][linuxserverurl]

##  Thanks, team linuxserver.io

[2019-07-17 19:35] j0nnymoe commented on #81
what?

[2019-07-17 19:39] aptalca commented on #81
looks like user error

[2019-07-17 19:39] #81 closed

[2019-08-09 03:39] PuZZleDucK commented on #44
Commands to remove docker snap and install docker via apt:
[code]

[2019-08-09 03:42] thelamer commented on #44
@PuZZleDucK never install from OS repos always use docker ce repos:

https://docs.docker.com/install/linux/docker-ce/ubuntu/

[2019-08-19 00:10] thelamer commented on #79
Just a heads up , this is something we have discussed internally in the past and please understand implementing health checks is something we would need to do Org-wide.

As it stands right now this functionality while implemented from a code standpoint has not been integrated into Docker's own official images.

My personal concern is it is functionality that will not see future support, especially

[2019-08-19 16:21] Arcanemagus commented on #79
I'm not sure what you are talking about here with regards to "official images", the `docker` command definitely supports checking this, and there are many commands related to it:
![image](https://user-images.githubusercontent.com/427137/63281652-0819c180-c262-11e9-86e1-b053d3b56bec.png)

If you mean the official Tautulli images that we maintain it's absolutely been implemented there... that's why

[2019-08-19 16:25] thelamer commented on #79
I am specifically referencing Docker's own official images.

https://hub.docker.com/search/?type=image&image_filter=official

REDIS, NGINX, Mysql, etc etc.

[2019-08-21 16:56] DomiStyle opened #82 "Retry GitHub clone or exit container on failure"
Currently the container will get stuck if there is no network connectivity available on container creation.

For example, if there are DNS issues while the container is starting, this happens:

[code]

It would make more sense to either retry the clone command infinitely on failure or exit the container so the orchestrator can recreate the container.

There is not much use continuing to run the co

[2019-08-21 20:07] thelamer commented on #82
What version of the container are you running ? This install script was ripped out ages ago.

You need to be running `linuxserver/tautulli:latest`

[2019-08-21 20:07] #82 closed

[2019-08-22 06:36] DomiStyle commented on #82
Ah, looks like I was running tautulli/tautulli:latest on accident, which hasn't been updated in months. I guess the banner on startup deceived me. :)

Thanks.

[2019-10-27 18:40] thelamer commented on #79
This is the Maintainer of the official images:
https://github.com/docker-library/cassandra/pull/76#issuecomment-426816911

I do not see how we are going to get behind the HEALTHCHECK concept as an organization if Docker will not ever be implementing this functionality on their huge library of images with Billions of pulls.

I am closing this , if this stance changes in the future from Docker as an

[2019-10-27 18:40] #79 closed

[2019-12-24 14:41] justinglock40 opened #85 "Just a request"
Can this be added to the Dockerfile for your next image build?

`pip install jsonrpclib-pelix`

There's a script made by BlackTwin that depends on this module to function. I've bash'd into the container and installed myself but whenever the container is restarted it gets removed. Thanks in advanced if you can make this possible.

[2019-12-24 14:42] justinglock40 commented on #85
this is the script: https://gist.github.com/Hellowlol/a5d0cab4bde185b38404

[2019-12-24 15:36] aptalca commented on #85
Here's info on how you can customize our containers so the changes are persistent: https://blog.linuxserver.io/2019/09/14/customizing-our-containers/

[2019-12-24 16:33] justinglock40 commented on #85
Thanks

[2019-12-24 16:33] #85 closed

[2020-02-29 04:58] modem7 opened #87 "Feature request: Healthcheck"
[linuxserverurl]: https://linuxserver.io
[![linuxserver.io](https://raw.githubusercontent.com/linuxserver/docker-templates/master/linuxserver.io/img/linuxserver_medium.png)][linuxserverurl]
------------------------------

## Expected Behavior
Implement Healthcheck

## Current Behavior
No Healthcheck

## Steps to Reproduce
https://github.com/Tautulli/Tautulli-Docker/blob/master/Dockerfile

HEALTHCH

[2020-02-29 05:10] aptalca commented on #87
See the discussion here: https://github.com/linuxserver/docker-tautulli/issues/79#issuecomment-522371251

[2020-02-29 05:10] #87 closed

[2020-06-10 20:36] zx8 opened #93 "Add environment variable to disable telemetry"
By default, Tautulli enables Google Analytics:

https://github.com/Tautulli/Tautulli/blob/7f178e091349a1399395c1ac3227d6f0fa801efc/plexpy/config.py#L632

According to [their FAQ](https://github.com/Tautulli/Tautulli-Wiki/wiki/Frequently-Asked-Questions#general-q21), it is possible to opt-out:

It would be fantastic if an environment variable could be introduced to allow us to opt-out of this behav

[2020-07-07 09:39] tobbenb opened #94 "Missing Pyopenssl"
[linuxserverurl]: https://linuxserver.io
[![linuxserver.io](https://raw.githubusercontent.com/linuxserver/docker-templates/master/linuxserver.io/img/linuxserver_medium.png)][linuxserverurl]

If you are new to Docker or this application our issue tracker is **ONLY** used for reporting bugs or requesting features. Please use [our discord server](https://discord.gg/YWrKVTn) for general support.

WARN

[2020-07-11 14:59] jchonig commented on #94
I just noticed this myself.  I hacked around it by adding config/custom-cont-init.d/10-https:

[code]

If I get time I'll try to come up with a PR.

[2020-07-11 21:17] #94 closed

[2020-09-16 10:36] zx8 commented on #93
/stale-bump

[2020-10-17 11:28] zx8 commented on #93
/stale-bump

[2020-10-17 12:42] j0nnymoe commented on #93
Forgive my ignorance but if we added a variable to do that. Wouldn't we need to boot tautalli first then stop it, run a script to do the change then boot it again?

Imo if you're already configuring it, it's not much effort to do this aswell as it's just a one time thing.

You can add this in your own container of you want via this https://blog.linuxserver.io/2019/09/14/customizing-our-containers/

[2020-10-25 17:16] zx8 commented on #93
I'm not sure I follow – why would it be necessary to first start Tautulli, make the change, then boot it again, compared to just writing the config pre-boot and then starting Tautulli?

I'll take a look at your suggested solution.

[2020-10-25 23:16] aptalca commented on #93
Because there is no config file until it runs. We sure aren't going to create a dummy config file for it just to disable telemetry because it will break the whole thing the moment tautulli makes a change to their config file format and we are out of step

[2020-11-01 18:56] Crow-Control commented on #79
I'm going to get back to this a bit:
CIS Docker Security benchmark version 1.2.0 advices including it, which I think is a lot more relevant than the argumentative errors spewed by said maintainer.

All of those arguments are so easy to crush i'm not even going to care (actually, it's only one argument, rephrased multiple times to look like more than it actually is) . All thats left is "his persona

[2020-11-08 17:21] zx8 commented on #93
Thanks for the clarification.

Given the situation, I don't think the Linuxserver Tautulli image is the correct place for this to be resolved, so have raised it with the upstream @ https://feathub.com/Tautulli/Tautulli/+459

[2020-11-08 17:21] #93 closed

[2020-12-28 18:46] JonnyWong16 opened #97 "Remove Plex logs from installation instructions"
Please remove the Plex logs volume bind from your installation instructions. This is causing too much confusion with users thinking the Plex logs are required for Tautulli to function when all it really adds is a log viewer functionality.

It has already been removed from our official installation instructions:

https://github.com/Tautulli/Tautulli-Wiki/wiki/Installation#docker

[2020-12-28 19:43] #97 closed

[2020-12-28 19:45] aptalca commented on #97
@JonnyWong16 thanks for the heads up. I honestly thought they were still needed for tautulli to get historical data. It's removed now.

[2020-12-30 16:57] uberjew666 opened #100 "Keep Curl installed"
Please could the curl package be kept in this image? I've read the discussion on supporting health checks and somewhat agree however I like to add my own health checks during deployment and curl is required.

I do think others would benefit from this, not just myself. Plus almost all other images linuxserver provides contains curl.

Thanks

[2021-05-14 18:07] lenaxia opened #104 "Uncaught exception when upgrading past v2.5.5-ls12"
[linuxserverurl]: https://linuxserver.io
[![linuxserver.io](https://raw.githubusercontent.com/linuxserver/docker-templates/master/linuxserver.io/img/linuxserver_medium.png)][linuxserverurl]

------------------------------

## Expected Behavior
Tautulli should start correctly

## Current Behavior
container fails to start with an uncaught exception

## Steps to Reproduce
1. docker-compose up
2. Obse

[2021-05-14 19:04] thespad commented on #104
This looks like the result of a failed database migration during a previous upgrade that's left it in an inconsistent state. You can try restoring from an older backup if you have one but this isn't a container issue per se so you're probably better off seeking support directly from Tautulli https://github.com/Tautulli/Tautulli

[2021-05-14 19:04] #104 closed

[2021-09-14 22:29] amigthea opened #107 "Make requests module part of the image"
## Desired Behavior
I need to use a very [useful script](https://github.com/blacktwin/JBOPS/tree/master/killstream) that requires the requests module installed, could be it implemented in the image?

## Current Behavior
requests module need to be installed manually

[2021-09-14 23:46] aptalca commented on #107
You can add it via a custom script:
https://www.linuxserver.io/blog/2019-09-14-customizing-our-containers

[2022-02-01 02:16] #100 closed

[2022-07-10 04:52] pannal commented on #107
(this might be something completely different)

`TAUTULLI_URL` isn't get passed to `os.environ`: https://github.com/blacktwin/JBOPS/issues/289